* {
    margin: 0;
}

body {
    height: 100vh;
    background-color: black;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-image: url(./image/diagonal-paw.png);
}

#logo {
    display: flex;
    align-items: center;
}

#cat-logo {
    padding-left: 2rem;
}

#game-info {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    color: bisque;
}

#game-info img {
    padding-left: 1rem;
}

#coin-logo {
    padding-right: 0.5rem;
}
#cat-life {
    padding-right: 0.5rem;
}

#reset {
    padding: 0.5rem;
    border: bisque 4px solid;
    border-radius: 1rem;
}

#reset:hover {
    color: black;
    background-color: #FFD1DC;
}

#music-button {
    font-family: "Silkscreen", sans-serif;
    background-color: black;
    padding: 0.5rem;
    border: bisque 4px solid;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 1rem;
    color: bisque;
}

#music-button:hover {
    color: black;
    background-color: #FFD1DC;
}

#music-space {
    padding-left: 1rem;
}

a {
    text-decoration: none;
    text-align: center;
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    color: bisque;
    padding-right: 2rem;
}

a:hover {
    color:#FFD1DC;
}

nav {
    display: flex;
    justify-content:space-between;
    text-align: center;
    color: bisque;
    padding-top: 1rem;
}

h1 {
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: bisque;
    font-size: 1.5rem;
    padding-left: 1rem;
}

h2 {
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: bisque;
    font-size: 1.5rem;
    padding-left: 1rem;
}

#coin-counter {
    text-align: center;
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: bisque;
}

canvas {
    border-radius: 2rem;
    border: #FFD1DC 1rem solid;
}

footer {
    text-align: center;
    font-family: "Silkscreen", sans-serif;
    color: bisque;
    padding-bottom: 1rem;
}

footer p {
    font-size: 1rem;
}
